@page "/"
@using System.Security.Claims

@inject ICarService cs
@inject ICartService cartService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

@if (alert)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Du måste vara inloggad för att handla! <a href="/Account/Login">Logga in</a> eller <a href="/Account/Register">Registrera</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="DismissAlert"></button>
    </div>
    
}

<h1 class="text-center bilrubrik">Turboexpressen</h1>


<div class="row mt-5 text-center" >
    @foreach(var car in cars)
    {
        <CarComponent car="car"
                      ProductPage ="() => NavigateToProduct(car.Id)"
                      AddToCart ="() => AddToCart(car)"/>
    }

</div>



@code {

    List<Car> cars = new();
    List<int> sounds = new List<int> { 1, 2, 3, 4, 5 };
    int i = 0;
    string? userId;


    public bool alert = false;


    protected override async Task OnInitializedAsync()
    {
        cars = (await cs.GetAllCarsAsync()).ToList();

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user != null && user.Identity.IsAuthenticated)
        {
            userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        }

    }
    void NavigateToProduct(int productId)
    {
        NavigationManager.NavigateTo($"/Product/{productId}");
    }

    public async Task AddToCart(Car car)
    {
        if(userId != null)
        {
            await cartService.AddCartItem(car, userId, 1);
        }
        else
        {
            alert = true;
        }

    }
    private void DismissAlert()
    {
        alert = false;
    }
    

}