
@rendermode InteractiveServer

<div class="col">
    <div class="card mb-5 border-0">
        <div class="card-body">
            <img src="@car.ImgUrl" alt="carPic" class="@carImageClass mb-4"/>
            <h5 class="card-title">@car.Name</h5>
            <p class="card-text">@car.DescriptionShort</p>
            <p>@car.PriceEUR EUR</p>
            <a class="btn btn-dark" @onclick="Page">Mer info</a>
            
            <button class="btn btn-dark" @onclick="Add">Add To Cart!</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Car car { get; set; }
    [Parameter]
    public EventCallback AddToCart { get; set; }
    [Parameter]
    public EventCallback ProductPage { get; set; }
   
    private string carImageClass = "car-img";


    public async Task Add()
    {
        await AddToCart.InvokeAsync();
    } 
    public async Task Page()
    {
        await ProductPage.InvokeAsync();
    }

}
